.nav-link.active{
    background-color: #041735 !important;
    color: aliceblue !important;
}

.nav-link{
    color: #041735 !important;
}

.tab-content{
    background-color: aliceblue !important;
    border-radius: 10px;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));  
    padding: 10px;
}



.tab-pane{
    background-color: white !important;
}

.tab-content{
    background-color: white !important;
}

.lista-patentes{
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));  
    font-size: 18px;
}

.lista-patentes li {
    padding: 10px;
}

.badge{
    transition: 0.3s !important;
}

.badge:hover{
        background-color: #041735 !important;
}

.item-patente{
    transition: 0.3s;
}

.item-patente:hover{
    background-color: #a5b5ce !important;
}



.paper-text{
    text-decoration: none;
    color: #041735;
    font-size: 20px !important;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.paper-text:hover{  
    text-decoration: underline;
    color: #0e49a8;
    font-size: 20px !important;
    padding: 10px;

}